<!DOCTYPE html>
<html>
<head><title>NTP Run __RUN__</title>
<meta http-equiv="refresh" content="1800" />
<meta charset="utf-8" />
</head>
<body>
<p>
Last update - __TIME__ GMT
</p>
<img src="local-clock.svg" alt="Local Clock: Frequency + Offset"><br>
<img src="percentiles.svg" alt="Local Clock: Frequency detail"><br>
<img src="percentiles-offset.svg" alt="Local Clock: Offset detail"><br>
<img src="offset-histogram.svg" alt="Local Clock: Offset histogram"><br>
<img src="local-clock-skew.svg" alt="Local Clock: Skew"><br>
<img src="local-clock-stddev.svg" alt="Local Clock: stddev"><br>
<img src="all-diff-freq.svg" alt="Remote Clocks: Frequency Difference"><br>
<img src="all-offset.svg" alt="Remote Clocks: Offsets"><br>
<img src="all-skew.svg" alt="Remote Clocks: Skew"><br>
<img src="remote-statistics.SET_IP_HERE.svg" alt="Remote Clock: SERVER_NAME"><br>
<pre>
__RUN__ notes:
__NOTES__
</pre>
<p>
Git repository for chrony-graph:
 <a href="https://github.com/ddrown/chrony-graph">https://github.com/ddrown/chrony-graph</a>
</p>
</body></html>
