<html><head><title>__RUN__ - VM</title><meta http-equiv="refresh" content="1800"/></head>
<body>
<p>
Last update - __TIME__ GMT
</p>
<img src="local-clock.png"><br>
<img src="percentiles.png"><br>
<img src="percentiles-offset.png"><br>
<img src="offset-histogram.png"><br>
<img src="local-clock-skew.png"><br>
<img src="local-clock-stddev.png"><br>
<img src="all-diff-freq.png"><br>
<img src="all-offset.png"><br>
<img src="all-skew.png"><br>
<img src="remote-statistics.SET_IP_HERE.png"><br>
<pre>
__RUN__ notes:
__NOTES__
</pre>
</body></html>
